@model CRMManager.Models.LotteryProgramsViewModel
<div class="justify-content-center">
    <h2 class="text-center">QUẢN LÝ @Model.PageTitle</h2>
</div>
<form method="post">
    <div class="ml-5 mr-5 mt-4">
        <div class="row mt-2">
            <div class="col-12">
                <div class="form-inline">
                    <div class="row">
                        <div class="col-12">
                            <div class="row mb-2">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-9">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Từ khóa tìm kiếm" aria-label="Search">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-primary my-2 my-sm-0 w-100" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="button" asp-area="" asp-controller="Lottery" asp-action="ImportToExcel" asp-route-id=@Model class="btn btn-success m-1 float-right"><i class="far fa-file-excel"></i> Nhập dữ liệu từ Excel</button>
                            <a asp-area="" asp-controller="Lottery" asp-action="AddNewProgram" class="btn btn-success float-right m-1"><i class="far fa-plus-square"></i> Thêm</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="table-data" class="table table-bordered table-hover table-apptech mt-4 w-100" border="1">
            <thead>
                <tr class="bg-primary" style="color: White;">
                    <td style="width:15%;"><b>Mã</b></td>
                    <td style="width:25%;"><b>Tên</b></td>
                    <td style="width:20%;"><b>Từ ngày</b></td>
                    <td style="width:20%;"><b>Đến ngày</b></td>
                    <td style="width:20%;"><b>Tùy chọn</b></td>
                </tr>
            </thead>
            @foreach (var item in Model.LotteryPrograms)
            {
                <tr id="controlRow" runat="server" class="apptech-pull-up">
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @item.Number
                        </div>
                    </td>
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @item.Name
                        </div>
                    </td>
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @item.FromDate
                        </div>
                    </td>
                    <td>
                        <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                            @item.ToDate
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-6 text-center">
                                <a asp-area="" asp-controller="Lottery" asp-action="EditProgram" asp-route-id=@item.ID class="btn btn-success m-1"><i class="far fa-edit"></i> Sửa</a>
                            </div>
                            <div class="col-6  text-center">
                                <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#myModal-@item.ID"><i class="far fa-trash-alt"></i> Xóa</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <div class="modal fade" id="myModal-@item.ID">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Xóa chương trình quay số</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="mt-4 justify-content-center">
                                    <p class="text-center">Bạn có muốn xóa chương trình quay số @item.Name không ?</p>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" asp-area="" asp-controller="Lottery" asp-action="Delete" asp-route-id= class="btn btn-success" data-bs-dismiss="modal">Đồng ý</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Từ chối</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </table>
        @*<div class="col-12">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-8">
                        <div class="float-right mt-2">
                            <button type="submit" asp-area="" asp-controller="Outlet" asp-action="ExportToExcel" asp-route-id=@Model class="btn btn-success m-1 float-right"><i class="far fa-file-excel"></i> Export</button>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</form>