@model CRMManager.Models.MemberClassByBillValueViewModel
<form method="post">
    <div class="row mb-2">
        <div class="col-sm-12">
            <h4 class="m-0 text-center"></h4>
        </div>
    </div>
    <div class="ml-5 mr-5 mt-4">
        <div class="row">
            <div id="needenableleft" class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <a id="ActiveAdd" class="btn btn-success float-right m-1"><i class="far fa-plus-square"></i> Thêm</a>
                    </div>
                </div>
                <table id="table-data" class="table table-bordered table-hover table-apptech mt-4 w-100" border="1">
                    <thead>
                        <tr style="color: White; background-color: #4267B2;">
                            <td style="width:14%;"><b>Tên</b></td>
                            <td style="width:14%;"><b>Từ ngày</b></td>
                            <td style="width:14%;"><b>Đến ngày</b></td>
                            <td style="width:14%;"><b>Giao dịch từ</b></td>
                            <td style="width:14%;"><b>Giao dịch đến</b></td>
                            <td style="width:3%;"><b>Hoạt động</b></td>
                            <td style="width:27%;"><b>Tùy chọn</b></td>
                        </tr>
                    </thead>
                    @foreach (var item in ViewBag.MemberClassByBillValue)
                    {
                        <tr id="controlRow" runat="server" class="apptech-pull-up">
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.Name
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.FromDate
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.ToDate
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.FromValue
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.ToValue
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @if (item.Status == true)
                                    {
                                        <input type="checkbox" class="form-check-input" checked readonly />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="form-check-input" readonly />
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-12">
                                        <a asp-area="" asp-controller="MemberClass" asp-action="EditMCBV" asp-route-id=@item.ID class="btn btn-success m-1 btnenable"><i class="far fa-edit"></i> Sửa</a>
                                    </div>
                                    @*<div class="col-12">
                                        <button type="submit" asp-area="" asp-controller="MemberClass" asp-action="DeleteMCByBV" asp-route-id= class="btn btn-danger m-1"><i class="far fa-trash-alt"></i> Xóa</button>
                                    </div>*@
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div id="needenable" class="col-12 col-md-6 mt-5 disablefield">
                <div class="form-group d-none">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        @*<div class="form-group">
                            <label class="control-label">Chọn nhóm khách hàng</label>
                            <select id="drpEmpList" class="form-control" asp-for="MemberClassID" asp-items="@(new SelectList(ViewBag.MemberClass, "ID", "ClassName"))">
                                <option value="">--Select--</option>
                            </select>
                            <input type="hidden" asp-for="MemberClassID" />
                        </div>*@
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Tên</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Từ ngày</label>
                            <input asp-for="FromDate" class="form-control" />
                            <span asp-validation-for="FromDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gia nhập từ</label>
                            <input asp-for="JoinFrom" class="form-control" />
                            <span asp-validation-for="JoinFrom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giao dịch từ</label>
                            <input asp-for="FromValue" class="form-control" />
                            <span asp-validation-for="FromValue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tỷ lệ tích điểm lên hạng([đ]/điểm)</label>
                            <input asp-for="ReviewRate" class="form-control" />
                            <span asp-validation-for="ReviewRate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1">
                                    <input type="checkbox" class="form-check-input" asp-for="Status" />
                                </div>
                                <div class="col-11">
                                    <label class="control-label">Hoạt động</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Đến ngày</label>
                            <input asp-for="ToDate" class="form-control" />
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gia nhập đến</label>
                            <input asp-for="JoinTo" class="form-control" />
                            <span asp-validation-for="JoinTo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giao dịch đến</label>
                            <input asp-for="ToValue" class="form-control" />
                            <span asp-validation-for="ToValue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tỷ lệ tích điểm đổi thưởng([đ]/điểm)</label>
                            <input asp-for="RewardRate" class="form-control" />
                            <span asp-validation-for="RewardRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-8">
                                <div class="float-right mt-2">
                                    <button id="btnAdd" type="submit" asp-area="" asp-controller="MemberClass" asp-action="AddNewMCBV" asp-route-id=@Model class="btn btn-success m-1 float-right d-none btncancel"><i class="far fa-save"></i> Lưu</button>
                                    <button id="btnEdit" type="submit" asp-area="" asp-controller="MemberClass" asp-action="EditMCBV" asp-route-id=@Model class="btn btn-success m-1 float-right d-none btncancel"><i class="far fa-save"></i> Lưu</button>
                                    <a id="btnCancelAll" asp-area="" asp-controller="MemberClass" asp-action="MemberClassByBillValue" asp-route-id= class="btn btn-danger m-1 float-right d-none btncancel"><i class="far fa-trash-alt"></i> Hủy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>