@model CRMManager.Models.CustomersViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}
<style>
    #popUpUpload {
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        top: 0;
        background-color: rgb(45 43 43 / 30%);
        align-items: center;
        justify-content: center;
    }

    .upload-from {
        position: relative;
        height: 150px;
        width: 500px !important;
        background: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
    }

    #table-data_filter {
        display: none;
    }
</style>
<h2 class="page-title">@Model.PageTitle</h2>
<hr />
<div class="row">
    <div class="col-md-8 d-none">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="CustomerTypes" class="control-label"></label>
                </div>
                <div class="col-sm-9">
                    <select asp-for="CustomerTypes" asp-items="@Html.GetEnumSelectList<CustomersViewModel.CustomerType>()" class="form-select bootstrap-select" role="option" aria-label="Default select example">
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <p>
        <a class="btn btn-primary" style="width: fit-content" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-filter-circle-xmark mr-5"></i> Bộ lọc dữ liệu
        </a>
        <div class="w-auto position-absolute" style="right: 5%">
            <a class="btn btn-outline-success" onclick="OpenPopup()" style="margin-right:10px" role="button">
                <i class="fa-solid fa-upload"></i> Import Excel
            </a>
            <a class="btn btn-outline-success" role="button">
                <i class="fa-solid fa-download"></i> Export Excel
            </a>
        </div>

    </p>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="col-12">
                <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="profile-tab"
                                data-mdb-toggle="tab"
                                data-mdb-target="#profile"
                                type="button"
                                role="tab"
                                aria-controls="home"
                                aria-selected="true">
                            <i class="fa-solid fa-address-card"></i>
                            Hồ sơ
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="dob-tab"
                                data-mdb-toggle="tab"
                                data-mdb-target="#dob"
                                type="button"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false">
                            <i class="fa-solid fa-cake-candles"></i>
                            Ngày sinh
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" hidden>
                        <button class="nav-link"
                                id="trans-tab"
                                data-mdb-toggle="tab"
                                data-mdb-target="#trans"
                                type="button"
                                role="tab"
                                aria-controls="contact"
                                aria-selected="false">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            Giao dịch
                        </button>
                    </li>
                </ul>
                <form asp-action="Search">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="tab-content" id="contentTemplateTab">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="Provinces" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select bootstrap-select" form-s aria-label="Default select example" asp-for="SelectedProvideID" asp-items="@Model.ProvideList">

                                                    @*@if (Model.Provinces != null)
                                                    {
                                                        @foreach (var item in Model.Provinces)
                                                        {
                                                            <option value=@item>@item</option>
                                                        }
                                                    }*@
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="Districts" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select bootstrap-select" form-s aria-label="Default select example" asp-for="SelectedDistrictID" asp-items="@Model.DistrictList">
                                                    @*@if (Model.Districts != null)
                                                    {
                                                        @foreach (var item in Model.Districts)
                                                        {
                                                            <option value=@item>@item</option>
                                                        }
                                                    }*@
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="MemberClasses" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select bootstrap-select" form-s aria-label="Default select example" asp-for="SelectedMemClassID" asp-items="@Model.MemClassList">
                                                    <option value="">Không chọn</option>
                                                    @*@if (Model.MemberClasses != null)
                                                    {
                                                        @foreach (var item in Model.MemberClasses)
                                                        {
                                                            <option value=@item>@item</option>
                                                        }
                                                    }*@
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-none">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="Genders" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <select asp-for="Genders" asp-items="@Html.GetEnumSelectList<CustomersViewModel.EGender>()" class="form-select bootstrap-select" form-s aria-label="Default select example">
                                                    @*@if (Model.Genders != null)
                            {
                                @foreach (var item in Model.Genders)
                                {
                                    <option value=@item>@item</option>
                                }
                            }*@
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="FullName" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="FullName" class="form-control" />
                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="Email" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="email" asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="Mobile" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="Mobile" class="form-control" />
                                                <span asp-validation-for="Mobile" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="MemID" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="MemID" class="form-control" />
                                                <span asp-validation-for="MemID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="JoinFromDate" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="date" asp-for="JoinFromDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" class="form-control" />
                                                <span asp-validation-for="JoinFromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label asp-for="JoinToDate" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="date" asp-for="JoinToDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" class="form-control" />
                                                <span asp-validation-for="JoinToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="IsMember" type="checkbox" id="flexCheckDefault">
                                            <label class="form-check-label" asp-for="IsMember" for="flexCheckDefault"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="IsMale" type="checkbox" id="flexCheckDefault1">
                                            <label class="form-check-label" asp-for="IsMale" for="flexCheckDefault"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="IsFeMale" type="checkbox" id="flexCheckDefault2">
                                            <label class="form-check-label" asp-for="IsFeMale" for="flexCheckDefault"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="dob" role="tabpanel" aria-labelledby="dob-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="FromAge" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="FromAge" class="form-control" />
                                                <span asp-validation-for="FromAge" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="ToAge" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="ToAge" class="form-control" />
                                                <span asp-validation-for="ToAge" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="FromDOBMonth" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="FromDOBMonth" class="form-control" />
                                                <span asp-validation-for="FromDOBMonth" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="ToDOBMonth" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="ToDOBMonth" class="form-control" />
                                                <span asp-validation-for="ToDOBMonth" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="FromDOBDay" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="FromDOBDay" class="form-control" />
                                                <span asp-validation-for="FromDOBDay" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="ToDOBDay" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="ToDOBDay" class="form-control" />
                                                <span asp-validation-for="ToDOBDay" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="DOBDayFrom" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="DOBDayFrom" class="form-control" />
                                                <span asp-validation-for="DOBDayFrom" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="DOBDayTo" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="DOBDayTo" class="form-control" />
                                                <span asp-validation-for="DOBDayTo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="IsDOBNULL" type="checkbox" id="flexCheckDefault">
                                            <label class="form-check-label" asp-for="IsDOBNULL" for="flexCheckDefault"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="IsBirthDayInCurrentMonth" type="checkbox" id="flexCheckDefault">
                                            <label class="form-check-label" asp-for="IsBirthDayInCurrentMonth" for="flexCheckDefault"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="trans" role="tabpanel" aria-labelledby="trans-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="BusinessCategories" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <select class="form-select bootstrap-select" form-s aria-label="Default select example">
                                                    @if (Model.BusinessCategories != null)
                                                    {
                                                        @foreach (var item in Model.BusinessCategories)
                                                        {
                                                            <option value=@item>@item</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="Outlets" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <select class="form-select bootstrap-select" form-s aria-label="Default select example">
                                                    @if (Model.Outlets != null)
                                                    {
                                                        @foreach (var item in Model.Outlets)
                                                        {
                                                            <option value=@item>@item</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="TransCountFrom" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="TransCountFrom" class="form-control" />
                                                <span asp-validation-for="TransCountFrom" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="TransCountTo" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="TransCountTo" class="form-control" />
                                                <span asp-validation-for="TransCountTo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="TransBillTotalFrom" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="TransBillTotalFrom" class="form-control" />
                                                <span asp-validation-for="TransBillTotalFrom" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="TransBillTotalTo" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input asp-for="TransBillTotalTo" class="form-control" />
                                                <span asp-validation-for="TransBillTotalTo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="TransFromDate" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="date" asp-for="TransFromDate" class="form-control" />
                                                <span asp-validation-for="TransFromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label asp-for="TransToDate" class="control-label"></label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="date" asp-for="TransToDate" class="form-control" />
                                                <span asp-validation-for="TransToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="crud-button mb-3 align-end">
                        <button class="btn btn-success" type="submit">Lọc</button>
                        <button class="btn btn-danger" type="button">Hủy</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <table id="table-data" class="table table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th scope="col">Họ tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Email</th>
                <th scope="col">Điện thoại di động</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Sử dụng mobile</th>
                <th scope="col">Số lần giao dịch</th>
                <th scope="col">Tổng tiền giao dịch</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BaseCustomers != null)
            {
                foreach (var item in Model.BaseCustomers)
                {
                    <tr id="controlRow">
                        <th scope="row">@item.FullName</th>
                        <td>@item.Gender</td>
                        <td>@item.Email</td>
                        <td>@item.Mobile</td>
                        <td>@item.DateJoined</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="crud-button align-center mb-3">                                
                                <button class="btn btn-success"><a style="text-decoration:none;color:#fff;" asp-action="Details" asp-controller="MemberManagement">Chi tiết</a></button>
                                <button class="btn btn-danger">Xóa</button>
                            </div>
                        </td>
                    </tr>
                }
            }
           
        </tbody>
    </table>
</div>

<div id="popUpUpload">
    <div class="w-auto position-absolute upload-from">
        <div class="w-auto position-absolute upload-from">
            <button type="button" class="btn-close" style="position:absolute; top:0;right:0;" onclick="ClosePopup()" aria-label="Close"></button>
            <div class="btn btn-outline-success" onclick="ChooseFile()" style="margin-right: 10px;" role="button">
                <input type="file" id="uploadFileEX" hidden />
                <i class="fa-solid fa-upload"></i> Choose File
            </div>
            <div class="btn btn-outline-success" id="buttonSave" style="margin-right: 10px;display:none" role="button">Save File
            </div>
            <a href="/Uploads/Sample.xlsx" download class="btn btn-outline-success ripple-surface" role="button" style="min-width: 146px;">
                <i class="fa-solid fa-download"></i> Download File Template
                <div class="ripple-wave active" style="left: -84.709px; top: -105.709px; height: 233.418px; width: 233.418px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div><div class="ripple-wave active" style="left: -84.9273px; top: -106.927px; height: 233.855px; width: 233.855px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div><div class="ripple-wave active" style="left: -84.9273px; top: -106.927px; height: 233.855px; width: 233.855px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div>
            </a>
            <br/>
        </div>
</div>

<script>
    function ChooseFile() {
        document.getElementById("uploadFileEX").click();        
    }
    function OpenPopup() {
        document.getElementById("popUpUpload").style.display = "flex";
    }
    function ClosePopup() {
        document.getElementById("popUpUpload").style.display = "none";
    }
    document.getElementById("uploadFileEX").addEventListener("change", function () {
        document.getElementById("buttonSave").style.display = "block";
    });
</script>