@*@model CRMManager.Models.RedeemItemMallsViewModel
    <div class="justify-content-center">
        <h2 class="text-center">SỬA THÔNG TIN @Model.PageTitle</h2>
    </div>
    <div class="container">
        <form enctype="multipart/form-data" method="post" class="m-2">
            <div class="form-group d-none">
                <label asp-for="RedeemItemMall.ID" class="control-label"></label>
                <input asp-for="RedeemItemMall.ID" class="form-control" />
                <span asp-validation-for="RedeemItemMall.ID" class="text-danger"></span>
            </div>
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group mt-2">
                                <label class="control-label">Nhóm quà</label>
                                <select id="drpEmpList" class="form-select" asp-for="RedeemItemMall.GroupID" asp-items="@(new SelectList(Model.RedemptionGroups, "ID", "Name"))">
                                    @foreach (var item in Model.RedemptionGroups)
                                    {
                                        if (Model.RedeemItemMall.GroupID == item.ID)
                                        {
                                            <option value="">@item.Name</option>
                                        }
                                    }
                                </select>
                                <input type="hidden" asp-for="RedeemItemMall.GroupID" />
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label">Mã quà</label>
                                <input asp-for="RedeemItemMall.ItemCode" class="form-control" />
                                <span asp-validation-for="RedeemItemMall.ItemCode" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label">Mã đổi quà</label>
                                <input asp-for="RedeemItemMall.ItemCode" class="form-control" />
                                <span asp-validation-for="RedeemItemMall.ItemCode" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label">Điểm</label>
                                <input asp-for="RedeemItemMall.Points" class="form-control" />
                                <span asp-validation-for="RedeemItemMall.Points" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group mt-2">
                                <label class="control-label">Loại quà</label>
                                <select id="drpEmpList" class="form-select">
                                    <option value="">--Select--</option>
                                </select>
                                <input type="hidden" />
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label">Tên quà</label>
                                <input asp-for="RedeemItemMall.ItemName" class="form-control" />
                                <span asp-validation-for="RedeemItemMall.ItemName" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label">Giá</label>
                                <input asp-for="RedeemItemMall.Price" class="form-control" />
                                <span asp-validation-for="RedeemItemMall.Price" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-2">
                                <label class="control-label">Số ngày hết hạn</label>
                                <input asp-for="RedeemItemMall.ExpiredDays" class="form-control" />
                                <span asp-validation-for="RedeemItemMall.ExpiredDays" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mt-2">
                                <label class="control-label">Mô tả</label>
                                <textarea asp-for="RedeemItemMall.Subject" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="RedeemItemMall.Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12  col-md-6">
                            <div class="row mt-2">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="RedeemItemMall.IsExchangeGift" type="checkbox">
                                            <label class="form-check-label" asp-for="RedeemItemMall.IsExchangeGift">Đổi quà</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="RedeemItemMall.IsLotteryGift" type="checkbox">
                                            <label class="form-check-label" asp-for="RedeemItemMall.IsLotteryGift">Quà xổ số</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="RedeemItemMall.IsPromotionGift" type="checkbox">
                                            <label class="form-check-label" asp-for="RedeemItemMall.IsPromotionGift">Quà khuyến mãi</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">

                        </div>
                        <div class="col-12 col-md-12">
                            <div class="row mt-2">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label" for="ThumbImage">Biểu tượng </label>
                                            </div>
                                            <div class="col-12">
                                                @if (Model.RedeemItemMall.Icon == null)
                                                {
                                                    <img src="~/Dat'sImages/Default/imagesul.png" class="img-thumbnail" />
                                                }
                                                else
                                                {
                                                    <img src="~/Dat'sImages/Redemption/RedeemItemMall/@Model.RedeemItemMall.Icon" class="img-thumbnail" />
                                                }
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-8">
                                                <input type="file" class="form-control" name="imgfile" />
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" asp-area="" asp-controller="Redemption" asp-action="Uploadicon" class="btn btn-primary">Upload Ảnh</button>
                                            </div>
                                            <span>@ViewData["Message"]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label" for="ThumbImage">Hình ảnh </label>
                                            </div>
                                            <div class="col-12">
                                                @if (Model.RedeemItemMall.Image == null)
                                                {
                                                    <img src="~/Dat'sImages/Default/imagesul.png" class="img-thumbnail" />
                                                }
                                                else
                                                {
                                                    <img src="~/Dat'sImages/Redemption/RedeemItemMall/@Model.RedeemItemMall.Image" class="img-thumbnail" />
                                                }
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-8">
                                                <input type="file" class="form-control" name="imgfile" />
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" asp-area="" asp-controller="Redemption" asp-action="Uploadimage" class="btn btn-primary">Upload Ảnh</button>
                                            </div>
                                            <span>@ViewData["Message"]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 mt-2">
                            <div class="justify-content-center">
                                <h5 class="text-center">Điểm từng hạng</h5>
                            </div>
                            <table id="table-data" class="table table-bordered table-hover table-apptech mt-4 w-100" border="1">
                                <thead>
                                    <tr class="bg-primary" style="color: White;">
                                        <td style="width:20%;"><b>Mã hạng</b></td>
                                        <td style="width:60%;"><b>Tên hạng</b></td>
                                        <td style="width:20%;"><b>Điểm</b></td>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.MemberClasses)
                                {
                                    <tr id="controlRow" runat="server" class="apptech-pull-up">
                                        <td>
                                            <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                                @item.CardCode
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                                @item.ClassName
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-block w-100 h-100 text-decoration-none text-danger p-10px">
                                                <input class="form-control" />
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">

                                </div>
                                <div class="col-4">
                                    <div class="float-right mt-2">
                                        <a asp-area="" asp-controller="RedemptionItem" asp-action="Index" asp-route-id= class="btn btn-danger m-1 float-right"><i class="fas fa-times"></i> Hủy</a>
                                        <button type="submit" asp-area="" asp-controller="RedemptionItem" asp-action="Edit" asp-route-id=@Model class="btn btn-success m-1 float-right"><i class="far fa-save"></i> Lưu</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>*@