@*@model  IEnumerable<CRMManager.Models.InvTransViewModel>*@
@model List<CRMManager.Models.InvTransViewModel>
<form method="post">
    <div class="row mb-2">
        <div class="col-sm-12">
            <h4 class="m-0 text-center"></h4>
        </div>
    </div>
    <div class="ml-5 mr-5 mt-4">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <a asp-area="" asp-controller="InvTrans" asp-action="Addnew" class="btn btn-success float-right m-1"><i class="far fa-plus-square"></i> Thêm</a>
                    </div>
                </div>
                <table id="table-data" class="table table-bordered table-hover table-apptech mt-4 w-100" border="1">
                    <thead>
                        <tr style="color: White; background-color: #4267B2;">
                            <td style="width:14%;"><b>ID</b></td>
                            <td style="width:14%;"><b>TCode</b></td>
                            <td style="width:14%;"><b>DocNo</b></td>
                            <td style="width:14%;"><b>Name</b></td>
                            <td style="width:14%;"><b>TransDate</b></td>
                            <td style="width:30%;"><b>Tùy chọn</b></td>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr id="controlRow" runat="server" class="apptech-pull-up">
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.ID
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.TCode
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.DocNo
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.Name
                                </div>
                            </td>
                            <td>
                                <div class="d-block w-100 h-100 text-decoration-none text-dark p-10px">
                                    @item.TransDate
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-12">
                                        <a asp-area="" asp-controller="InvTrans" asp-action="Detail" asp-route-id=@item.ID class="btn btn-success m-1 btnenable"><i class="far fa-edit"></i> Sửa</a>
                                    </div>
                                    @*<div class="col-12">
                                            <button type="submit" asp-area="" asp-controller="MemberClass" asp-action="DeleteMCByBV" asp-route-id= class="btn btn-danger m-1"><i class="far fa-trash-alt"></i> Xóa</button>
                                        </div>*@
                                </div>
                            </td>
                        </tr>
                    }
                </table>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">

                        </div>
                        <div class="col-8">
                            <div class="float-right mt-2">
                                <button type="submit" asp-area="" asp-controller="InvTrans" asp-action="ExportToExcel" asp-route-id= class="btn btn-success m-1 float-right"><i class="far fa-file-excel"></i> Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>