@model CRMManager.Models.UIMessagesViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}
<h2 class="page-title">@Model.PageTitle</h2>
<hr />
<div class="row">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AppLists" class="control-label"></label>
                <select class="form-select" aria-label="Default select example">
                    @if (Model.AppLists != null)
                    {
                        @foreach (var item in Model.AppLists)
                        {
                            <option value=@item.Number>@item.Name</option>
                        }
                    }

                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="LanguageList" class="control-label"></label>
                <select class="form-select" aria-label="Default select example">
                    @if (Model.LanguageList != null)
                    {
                        @foreach (var item in Model.LanguageList)
                        {
                            <option value=@item.ID>@item.Name</option>
                        }
                    }

                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="FormIDFilter" class="control-label"></label>
                <input asp-for="FormIDFilter" class="form-control" />
                <span asp-validation-for="FormIDFilter" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="TransKeywordFilter" class="control-label"></label>
                <input asp-for="TransKeywordFilter" class="form-control" />
                <span asp-validation-for="TransKeywordFilter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end crud-button mt-3">
            <button class="btn btn-outline-success">Lọc</button>
            <button class="btn btn-success" onclick="location.href = '@Url.Action("Create", "UIMessage")'">Thêm</button>

        </div>
    </div>
    <table id="table-data" class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">Mã màn hình</th>
                <th scope="col">Từ khóa dịch</th>
                <th scope="col">Văn bản dịch</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.UIMessageList != null)
            {
                @foreach (var item in Model.UIMessageList)
                {
                    <tr id="controlRow" onclick="location.href = '@Url.Action("Details", "UIMessage", new { ID=item.ID})'">
                        <th scope="row">@item.FormID</th>
                        <td>@item.Keyword</td>
                        <td>@item.Translation</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    #table-data_wrapper .row div {
        margin-top: 0px !important;
    }

    /*#table-data_filter {
        display: none;
    }*/
</style>