@model CRMManager.Models.OutletViewModel
<div class="justify-content-center">
    <h2 class="text-center">@Model.PageTitle</h2>
</div>
<div>
    <form enctype="multipart/form-data" method="post">
        <div class="form-group d-none">
            @*<label asp-for="ID" class="control-label"></label>*@
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
            <input asp-for="DataState" class="form-control" />
            <input asp-for="Icon" class="form-control" />
            <input asp-for="Detail" class="form-control" />
            <input asp-for="FloorMap" class="form-control" />
            <input asp-for="FloorImage" class="form-control" />
            <input asp-for="CreatedBy" class="form-control" />
            <input asp-for="CreatedOn" class="form-control" />
            <input asp-for="ModifiedBy" class="form-control" />
            <input asp-for="ModifiedOn" class="form-control" />
            <input asp-for="Images" class="form-control" />
            <input asp-for="PageTitle" class="form-control" />
            <input asp-for="BranchID" class="form-control" />
        </div>
        @if (!String.IsNullOrEmpty(Model.ErrorMasage))
        {
            <div class="form-group @(Model.IsChanged == true ? "success-box" : "error-box")">
                <div class="error-text">
                    <label class="control-label"><i class="far @(Model.IsChanged == true ? "fa-check-circle" : "fa-times-circle")"></i> @Model.ErrorMasage</label>
                </div>
            </div>
        }
        <div class="card w-100">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Thông tin</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="vietnam-tab" data-bs-toggle="tab" data-bs-target="#vietnam" type="button" role="tab" aria-controls="vietnam" aria-selected="false">Tiếng Việt</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="english-tab" data-bs-toggle="tab" data-bs-target="#english" type="button" role="tab" aria-controls="english" aria-selected="false">Tiếng Anh</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="config-tab" data-bs-toggle="tab" data-bs-target="#config" type="button" role="tab" aria-controls="config" aria-selected="false">Hình ảnh</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Tầng <span style="color:red;">(*)</span></label>
                                    <select id="drpEmpList" class="form-select" asp-for="FloorID" asp-items="@(new SelectList(Model.Floors, "ID", "Name"))">
                                        <option value="">Không chọn</option>
                                    </select>
                                    <span asp-validation-for="FloorID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Doanh nghiệp <span style="color:red;">(*)</span></label>
                                    <select id="drpEmpList" class="form-select" asp-for="BrandID" asp-items="@(new SelectList(Model.Brands, "ID", "BrandName"))">
                                        <option value="">Không chọn</option>
                                    </select>
                                    <span asp-validation-for="BrandID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Ngành hàng <span style="color:red;">(*)</span></label>
                                    <select id="drpEmpList" class="form-select" asp-for="CategoryID" asp-items="@(new SelectList(Model.BusinessCategories, "ID", "Name"))">
                                        <option value="">Không chọn</option>
                                    </select>
                                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Mã <span style="color:red;">(*)</span></label>
                                    <input asp-for="Number" class="form-control" />
                                    <span asp-validation-for="Number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Điện thoại cố định</label>
                                    <input asp-for="Tel" class="form-control" />
                                    <span asp-validation-for="Tel" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Địa chỉ</label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Giờ mở cửa</label>
                                    <input asp-for="OpenTime" class="form-control" />
                                    <span asp-validation-for="OpenTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Giờ đóng cửa</label>
                                    <input asp-for="CloseTime" class="form-control" />
                                    <span asp-validation-for="CloseTime" class="text-danger"></span>
                                </div>
                                @*<div class="form-group d-none">
                                    <label class="control-label">Mật khẩu cửa hàng</label>
                                    <input asp-for="PWDCode" class="form-control" rows="4" />
                                    <span asp-validation-for="PWDCode" class="text-danger"></span>
                                </div>
                                <div class="form-group d-none">
                                    <label class="control-label">Mã phát quà</label>
                                    <input asp-for="RedeemCode" class="form-control" rows="4" />
                                    <span asp-validation-for="RedeemCode" class="text-danger"></span>
                                </div>*@
                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Website</label>
                                    <input asp-for="Website" class="form-control" />
                                    <span asp-validation-for="Website" class="text-danger"></span>
                                </div>
                                <div class="form-group d-none">
                                    <label class="control-label">Địa chỉ tầng</label>
                                    <input asp-for="FloorPosition" class="form-control" />
                                    <span asp-validation-for="FloorPosition" class="text-danger"></span>
                                </div>
                                <div class="form-group d-none">
                                    <label class="control-label">Mã kích hoạt</label>
                                    <input asp-for="AccCode" class="form-control" />
                                    <span asp-validation-for="AccCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vietnam" role="tabpanel" aria-labelledby="vietnam-tab">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Tên <span style="color:red;">(*)</span></label>
                                    <input asp-for="OutletName" class="form-control" />
                                    <span asp-validation-for="OutletName" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Địa chỉ</label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>*@
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Mô tả</label>
                                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.StoreContent" class="control-label">Nội dung</label>
                                <textarea rows="10" asp-for="@Model.StoreContent" class="form-control ck-editor__editable ck-editor__editable_inline" id="editor"></textarea>
                                <span asp-validation-for="@Model.StoreContent" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="english-tab">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Tên</label>
                                    <input asp-for="OutletName_EN" class="form-control" />
                                    <span asp-validation-for="OutletName_EN" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Địa chỉ</label>
                                    <input asp-for="Address_EN" class="form-control" />
                                    <span asp-validation-for="Address_EN" class="text-danger"></span>
                                </div>
                            </div>*@
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Mô tả</label>
                                    <textarea asp-for="Description_EN" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="Description_EN" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.StoreContent_EN" class="control-label">Nội dung</label>
                                <textarea rows="10" asp-for="@Model.StoreContent_EN" class="form-control ck-editor__editable ck-editor__editable_inline" id="editor-En"></textarea>
                                <span asp-validation-for="@Model.StoreContent_EN" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group input-group-sm">
                                    <label for="formFile" asp-for="IconFile" class="form-label fw-bold">Logo (200x200)</label>
                                    <input data-id="input-200x200" type="file" value="@Model.IconFile" asp-for="IconFile" class="form-control ValidateSizeImage" accept="image/png, image/jpg, image/jpeg" />
                                    <span asp-validation-for="IconFile" class="text-danger"></span>
                                    <div class="img-box img3">
                                        @if (!String.IsNullOrEmpty(Model.URLLogo))
                                        {
                                            <img id="img-200x200" src="@Model.URLLogo" style="width:40%" />
                                        }
                                        else
                                        {
                                            <img id="img-200x200" style="width:40%" />
                                        }
                                    </div>
                                </div>
                                <div class="form-group input-group-sm">
                                    <label for="formFile" asp-for="MapFile" class="form-label fw-bold">Bản đồ (1300x575)</label>
                                    <input data-id="input-1300x575" type="file" value="@Model.MapFile" asp-for="MapFile" class="form-control ValidateSizeImage" accept="image/png, image/jpg, image/jpeg" />
                                    <span asp-validation-for="MapFile" class="text-danger"></span>
                                    <div class="img-box img3">
                                        @if (!String.IsNullOrEmpty(Model.URLMap))
                                        {
                                            <img id="img-1300x575" src="@Model.URLMap" style="width:100%" />
                                        }
                                        else
                                        {
                                            <img id="img-1300x575" style="width:100%" />
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group input-group-sm">
                                    <label for="formFile" asp-for="DetailFile" class="form-label fw-bold">Hình chi tiết (1200x600)</label>
                                    <input data-id="input-1200x600" type="file" value="@Model.DetailFile" asp-for="DetailFile" class="form-control ValidateSizeImage" accept="image/png, image/jpg, image/jpeg" />
                                    <span asp-validation-for="DetailFile" class="text-danger"></span>
                                    <div class="img-box img3">
                                        @if (!String.IsNullOrEmpty(Model.URLDetail))
                                        {
                                            <img id="img-1200x600" src="@Model.URLDetail" style="width:100%" />
                                        }
                                        else
                                        {
                                            <img id="img-1200x600" style="width:100%" />
                                        }
                                    </div>
                                </div>
                                <div class="form-group input-group-sm">
                                    <label for="formFile" asp-for="Image600x600File" class="form-label fw-bold">Hình hiển thị trên page cửa hàng (600x600)</label>
                                    <input data-id="input-564x564" type="file" value="@Model.Image600x600File" asp-for="Image600x600File" class="form-control ValidateSizeImage" accept="image/png, image/jpg, image/jpeg" />
                                    <span asp-validation-for="Image600x600File" class="text-danger"></span>
                                    <div class="img-box img3">
                                        @if (!String.IsNullOrEmpty(Model.URLImage600x600))
                                        {
                                            <img id="img-564x564" src="@Model.URLImage600x600" style="width:60%" />
                                        }
                                        else
                                        {
                                            <img id="img-564x564" style="width:60%" />
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row mt-4">
                                                <div class="col-1">
                                                    <input type="checkbox" class="form-check" asp-for="IsAccPoint" />
                                                </div>
                                                <div class="col-11">
                                                    <label class="control-label">Tích điểm</label>
                                                </div>
                                            </div>
                                            <span asp-validation-for="IsAccPoint" class="text-danger"></span>
                                        </div>
                                        <div class="col-6">
                                            <div class="row mt-4">
                                                <div class="col-1">
                                                    <input type="checkbox" class="form-check" asp-for="IsShowMobileApp" />
                                                </div>
                                                <div class="col-11">
                                                    <label class="control-label">Hiển thị trên Mobile</label>
                                                </div>
                                            </div>
                                            <span asp-validation-for="IsShowMobileApp" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12 col-sm-12 col-md-8 col-lg-8">

                            </div>
                            <div class="col-sm-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="float-right mt-2">
                                    <a asp-area="" asp-controller="Outlet" asp-action="Index" asp-route-id= class="btn btn-primary m-1 float-right"><i class="fas fa-arrow-left"></i> Trở về</a>
                                    <button type="submit" asp-area="" asp-controller="Outlet" asp-action="SaveData" asp-route-id=@Model class="btn btn-success m-1 float-right"><i class="far fa-save"></i> Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<script src="~/js/CKEditor.js"></script>
<script src="~/js/CKEditorEn.js"></script>
<script>
    //function SetImageWidthEditor() {
    //    let image = $(".ck-content .image.image_resized img");
    //    image.style.width = "100%!important";
    //    let figure = $(".ck-content .image");
    //    figure.style.margin = "0 auto!important";

    //}

    let validateSizeImages = $(".ValidateSizeImage");
    var validExt = ".png, .gif, .jpeg, .jpg";
    function fileExtValidate(fdata) {
        var filePath = fdata.value;
        var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
        var pos = validExt.indexOf(getFileExt);
        if (pos < 0) {
            alert("This file is not allowed, please upload image file.");
            return false;
        } else {
            return true;
        }
    }

    function ValidateSizeImage(input) {
        let elementID = $(input).attr("data-id");
        let imageSize = elementID.split('-')[1];
        let file = input.files[0];
        let fileUp = input;

        if (fileExtValidate(fileUp)) {
            var reader = new FileReader();
            console.log(reader);
            reader.onload = function (e) {
                var image = new Image();
                image.src = reader.result;
                image.onload = function () {
                    let width = parseFloat(imageSize.split('x')[0]);
                    let height = parseFloat(imageSize.split('x')[1]);
                    let from = (width / height) - 0.1;
                    let to = (width / height) + 0.1;
                    let rate = this.width / this.height;
                    if (rate >= from && rate <= to && this.width >= (width - width * 0.1)) {
                        $("#img-" + imageSize).attr('src', e.target.result);
                    }
                    else {
                        alert('Invalid Image size: ' + imageSize);
                        input.value = "";
                        $("#img-" + imageSize).removeAttr('src');
                    }
                }

            }
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
        else {
            preview.src = "";
            txtUploadFile.value = "";
        }
    }

    validateSizeImages.each(function () {
        $(this).change(function () {
            ValidateSizeImage(this)
        })
    })

    //$('#ThumbImage_120_120').change(function () {
    //    alert("120");
    //    ValidateSizeImage(this)
    //})
</script>